.widget-buildinfo {
$background-color:  #3b3b3b;
$value-color:       rgba(255, 255, 255, 0.8);
$title-color:       rgba(255, 255, 255, 0.8);
$label-color:       rgba(255, 255, 255, 0.8);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

  background-color: transparent;
  vertical-align: top !important;
  padding: 0 0 !important;
  margin: 0 0 !important;

  table {
    border-collapse: separate;
    border-spacing: 7px;
  }

  td {
    background-color: $background-color;
  }

  .env {
    font-size: 40px;
  }

  .sub td {
    font-size: 30px;
    background-color: transparent;
  }

  .fail {
    background-color: #ff3d00;
  }
}