.widget-calendar {
$background-color:  #3b3b3b;
$value-color:       rgba(255, 255, 255, 0.8);
$title-color:       rgba(255, 255, 255, 0.8);
$label-color:       rgba(255, 255, 255, 0.8);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

  background-color: transparent;
  vertical-align: top;
  padding: 0 0 !important;
  margin: 0 0 !important;

  .line-item {
    height: 100%;
    border: 0px solid transparent;
    margin-right: 5px;
    display: inline-block;
    font-size: 40px;
    padding: 12px 12px;
    background-color: $background-color;
    color: $value-color;
  }
}
