<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [310, 180]
  Dashing.numColumns = 6
});
</script>

<% content_for(:title) { "Buildinfo" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="6">
      <div data-id="buildinfo" data-view="Buildinfo" data-title="Build Info" data-moreinfo="Build info"></div>
    </li>
  </ul>
</div>
