<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [310, 180]
  Dashing.numColumns = 6
});
</script>

<% content_for(:title) { "Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
      <div data-view="Clock"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="calendar" data-view="Calendar" data-unordered="true" data-title="Calendar" data-moreinfo="Calendar info"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="2" data-sizey="5">
      <div data-id="buildinfo" data-view="Buildinfo" data-title="Build Info" data-moreinfo="Build info"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="jenkins" data-view="Jenkins" data-unordered="true" data-title="Jenkins" data-moreinfo="Build status"></div>
    </li>
  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="6">
        <div data-id="metrics" data-view="Metrics"></div>
    </li>
  </ul>
</div>
